@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1d1c3b;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1c3b;
    --foreground: #ededed;
    --spacing: 1px
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: larger;
}

h2 {
  font-size: large;
}
h3 {
  font-size: medium;
}
p{
  font-size: smaller;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.titulo {
  font-size: xx-large;
  font-weight: bold;
}