@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1d1c3b;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1c3b;
    --foreground: #ededed;
    --spacing: 1px
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-size: larger;
}

h2 {
  font-size: large;
}
h3 {
  font-size: medium;
}
p{
  font-size: smaller;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

/* Track */
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #8283aa; 
  }
  
  /* Handle */
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #28299c; 
  }

  /* Handle on hover */
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.titulo {
  font-size: xx-large;
  font-weight: bold;
}